html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFDF1;
    color: #FF9644;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#rnbo-root {
    height: 100vh;
    width: 100vw;
}
#background {
    position: absolute;
    z-index: -1;
}

h1 {
    display: none;
}

h2, em {
    width: 100%;
}

.texto {
    padding: 21px;
    text-align: center;
}

#rnbo-root {
    margin: auto;
    max-width: 540px;
}

#rnbo-parameter-sliders {
    display: flex;
    flex-direction: column;
}

#rnbo-parameter-sliders > div {
    display: flex;
}

#rnbo-parameter-sliders > div > input:first-of-type {
    flex-grow: 1;
}

#start {
    visibility: hidden;
}

.container {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical, opcional */        /* opcional, si quieres centrar verticalmente en la pantalla */
}

.gif {
    padding-top: 21px;
    width: 377px;
    height: auto;
}

input[type="range"] {
    appearance: none; /* -webkit-appearance */
    width: auto;
    height: 34px;
    background-color: #088395;
    border-radius: 7px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 89px;
    height: 89px;
    background-image: url("../img/gift.svg");
    background-size: cover;
    background-position: center;
    cursor: grab;
    z-index: 3;
}